<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <h3>Cart</h3>
<div class="cart-item" *ngFor="let producto of productosCarrito">
  <span>{{producto.name}}</span>
  <span>{{producto.price | currency}}</span>
</div> -->

<div *ngIf="productosCarrito.length > 0">
    <h3>Productos en el carrito</h3>
  <ul>
    <li *ngFor="let productoCarrito of productosCarrito">
      {{productoCarrito.name}} - <strong>£ {{productoCarrito.price}}</strong> - Cantidad: <strong>{{productoCarrito.quantity}}</strong>  Precio total: <strong>{{productoCarrito.totalPrecio | number}}</strong>
    </li>
  </ul>
  <h3>Precio total: </h3> 
  <strong>£ {{totalPriceProductos | number}}</strong>
</div>
<div *ngIf="productosCarrito.length == 0">
  <h3>El carrito esta vacio</h3>
</div>

</ion-content>
