<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-buttons>
    <ion-button size="small" [routerLink]="['/productos']">Productos</ion-button>
    <ion-button size="small" [routerLink]="['/cart']"><ion-icon name="cart"></ion-icon>Cart</ion-button>  
  </ion-buttons>
</ion-app>
