<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<ul>
  <li *ngFor="let producto of productos">
    {{producto.id}} - {{producto.name}} - <strong>£ {{producto.price}}</strong> - Cantidad: {{producto.quantity}} Precio total: <strong>{{producto.totalPrecio | number}}</strong><ion-button (click)="addCarrito(producto)" size="small">Añadir al Carrito</ion-button>
  </li>
</ul>

<!-- <div *ngIf="carrito.length > 0">
    <h3>Productos en el carrito</h3>
  <ul>
    <li *ngFor="let productoCarrito of carrito">
      {{productoCarrito.name}} - <strong>£ {{productoCarrito.price}}</strong> - Cantidad: <strong>{{productoCarrito.quantity}}</strong>  Precio total: <strong>{{productoCarrito.totalPrecio}}</strong>
    </li>
  </ul>
  <h3>Precio total: </h3> 
  <strong>£ {{totalPriceProductos}}</strong>
</div>
<div *ngIf="carrito.length == 0">
  <h3>El carrito esta vacio</h3>
</div> -->
</ion-content>
